#activist-container {
  background-color: $cream;
}

.custom-banner {
  width: 90%;
  height: 500px;
}
.grey-background {
  background-color: $light-grey;
}
.cream-background {
  background-color: $cream;
}

.icon-header {
  font-size: 40px;
  display: block;
}
.icon-blue {
  color: #0e6efd;
}
.icon-red {
  color: #e3192b;
}
.icon-brown {
  color: $brown;
}
.icon-green {
  color: #1a8754;
}
