#map-container {
  display: flex;
  justify-content: center;
  overflow: hidden;

  #map {
    width: 96vw;
    height: 450px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.47);
  }
}
