.profile-pic {
  max-width: 150px;
  height: 150px;
}

#funding-meter {
  height: 50px;
}

.progress-bar.yellow {
  background-color: $yellow !important;
}
#tag-badges {
  width: 250px;
  height: 100px;
}

.custom-badges {
  background-color: $dark-green;
}
