.GrowerPageBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.GrowerPageBody__plantsList {
  padding-top: 20px;
  padding-left: 20vw;
  font-size: 1.2rem;
}

.GrowerPageBody__plantsList > h1 {
  margin-bottom: 0px;
}

.GrowerPageBody__plantsList hr {
  max-width: 300px;
  background-color: pink;
  height: 2px;
  border: 0px;
  margin-left: 0.5px;
}

.GrowerPageBody__actions {
  padding-right: 15vw;
}

.GrowerPageBodyActions__addPlantButton {
  vertical-align: center;
}

.addPlantButton__icon {
  padding-right: 5px;
}
